<!-- БОКОВОЕ МЕНЮ (ЛЕВАЯ ПАНЕЛЬ) -->
<div class="bg-dark text-white p-4" id="sidebar-wrapper" style="min-width: 260px; max-width: 260px; min-height: 100vh;">
    <div class="sidebar-heading fs-4 fw-bold mb-4" style="white-space: nowrap;">🛒 Меню</div>
    <div class="list-group list-group-flush">
        <a href="{% url 'catalog:home' %}"
           class="list-group-item list-group-item-action bg-dark text-white border-0 py-2 px-0"
           style="white-space: nowrap;">
            Главная
        </a>
        <a href="{% url 'blog:list' %}"
           class="list-group-item list-group-item-action bg-dark text-warning fw-bold border-0 py-2 px-0"
           style="white-space: nowrap;">
            📰 Блог проекта
        </a>

        {% if user.is_authenticated %}
            <a href="{% url 'catalog:product_create' %}"
               class="list-group-item list-group-item-action bg-dark text-info fw-bold border-0 py-2 px-0"
               style="white-space: nowrap;">
                + Добавить товар
            </a>
        {% endif %}

        <a href="{% url 'catalog:contacts' %}"
           class="list-group-item list-group-item-action bg-dark text-white border-0 py-2 px-0"
           style="white-space: nowrap;">
            Контакты
        </a>

        <hr class="text-secondary">

        {% if user.is_authenticated %}
            <a href="{% url 'users:profile' %}"
                class="list-group-item list-group-item-action bg-dark text-info fw-bold border-0 py-2 px-0"
                style="white-space: nowrap;">
                👤 Профиль
            </a>
            <div class="text-secondary small px-0 py-2" style="white-space: nowrap;">
                Вы вошли как <br><strong class="text-white">{{ user.email }}</strong>
            </div>
            <form method="post" action="{% url 'users:logout' %}" class="m-0 p-0">
                {% csrf_token %}
                <button type="submit"
                        class="list-group-item list-group-item-action bg-dark text-danger fw-bold border-0 py-2 px-0 w-100 text-start"
                        style="white-space: nowrap;">
                    🚪 Выйти
                </button>
            </form>
        {% else %}
            <a href="{% url 'users:login' %}"
               class="list-group-item list-group-item-action bg-dark text-success fw-bold border-0 py-2 px-0"
               style="white-space: nowrap;">
                🔑 Войти
            </a>
            <a href="{% url 'users:register' %}"
               class="list-group-item list-group-item-action bg-dark text-success fw-bold border-0 py-2 px-0"
               style="white-space: nowrap;">
                📝 Регистрация
            </a>
        {% endif %}
    </div>
</div>